.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.button{}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  position: sticky;
  top: 75px;
  z-index : 1;
}
.container  button {
  color : white;
  border-radius: 5px;
  border: none;
  margin: 5px;
  width : 80px;
  transition: width 0.2s
}
.container span {
  background-color: #ffffffcc;
  padding: 15px;
  border-style : none;
  border-radius: 15px;

}
.container  button:hover{
  width : 90px
}
.yes {
  background-color:red;
}
.no {
  background-color:green;
}
.sticky {
  position: sticky;
  z-index: 1;
  top: 130px;
  background: aliceblue;
  padding: 10px;
  border-radius: 10px;
}


